/* Common Css Start Here */
body {
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;   
}

.card{
    margin-bottom: 25px;
    margin-left: 15px;
}
.card-body{
    background-color: #0D0D0D;
}
.card-title{
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 24px;
    color: #FFFFFF;

}
.card-text{
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 16px;
    color: #B3B3B3;

}

ol li{
    margin-bottom: 20px;
    font-family: 'Manrope';   
    font-weight: 400;
    font-size: 16px;

}
 
 
/* Common Css End Here */

/* Header Area Design Start Here */
.header-area{
    background: #000000;
}

.header-area-content{
 width: 100%;
 height: 400px;
}

 

.header-area-content h1{
    font-family: 'Berkshire Swash';
    color: #FF5E19;
}
.header-area-content p{
    font-family: 'Manrope';
    color: #FFFFFF;
 
}

.header-text {
    width: 100%;
    height: 400px;
}

/* Header Area Design End Here */

